<div class="container">
  <h1 class="center">About me</h1>
  <p class="learn">
    I'm Asmita Koirala intially from Solukhumbu, recently residing in Kapan,
    Kathmandu.I am currently studying Bachelor's in IT at AADIM National
    College. I'm front end developer
  </p>
  <h2 class="center2">Family</h2>
  <p class="learn2">
    I have a small family. There are 3 members in my family. There are my
    parents, and myself. My father is fifty five years old.He is a farmer . My
    mother is forty-five years old. She is a housewife. I am a Student. We are
    all happy in my family . I like my family. Thank You.
  </p>
</div>
